SERVER_PORT="..." # Es. ":8080"

# Prod
ENV=prod
FRONTEND_URL= # TODO: ricorda di usare https (anche per allowed origins)
ALLOWED_ORIGINS=

RATE_LIMITER_REQUESTS_COUNT=
RATE_LIMITER_ENABLED=""

# - Database -

# Generic
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SSL_MODE=
DB_MAX_OPEN_CONNS=30
DB_MAX_IDLE_CONNS=30
DB_MAX_IDLE_TIME=15m


# - Auth -
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=


# - Email -
FROM_EMAIL=
RESEND_API_KEY=
SANDBOX=""

AUTH_TOKEN_SECRET=
VERIFICATION_TOKENS_SECRET=

# Avoid these: $, #, !, &, *, =
# For SANDBOX and RATE_LIMITER_ENABLED (boolean) use string (with true or false)
