SERVER_PORT="..." # Es. ":8080"

# Prod
ENV=prod
FRONTEND_URL=
ALLOWED_ORIGINS=

RATE_LIMITER_REQUESTS_COUNT=
RATE_LIMITER_ENABLED=

POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SSL_MODE=

DB_MAX_OPEN_CONNS=
DB_MAX_IDLE_CONNS=
DB_MAX_IDLE_TIME=

FROM_EMAIL=
RESEND_API_KEY=

AUTH_TOKEN_SECRET=
VERIFICATION_TOKENS_SECRET=
