SERVER_PORT="..."

# Prod
ENV=prod
FRONTEND_URL=

POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SSL_MODE=

DB_MAX_OPEN_CONNS=
DB_MAX_IDLE_CONNS=
DB_MAX_IDLE_TIME=

FROM_EMAIL=
SENDGRID_API_KEY= # o resend