{{define "subject"}}Finish Registration with Shokora{{end}}

{{define "body"}}
<!doctype html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <p>Ciao {{.Name}},</p>
    <p>Grazie per la registrazione...</p>
    <p>Prima di poter ordinare online devi confermare il tuo indirizzo email. Clicca sul link oppure inserisci il codice OTP per verificarlo.</p>
    <p><a href="{{.ActivationURL}}">Conferma indirizzo email</a> (scade tra {{.MagicLinkExp}})</p>
    <p>Codice OTP: {{.OTPToken}} (scade tra {{.OTPExp}})</p>
    <p>Se non hai eseguito l'accesso a Shokora, puoi ignorare questa email.</p>

    <p>Grazie,</p>
    <p>il team di Shokora</p>
  </body>
</html>

{{end}}
